---
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
# This is currently broken:
# https://github.com/llvm/llvm-project/issues/53442
#AlignArrayOfStructures: Left
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: false
BasedOnStyle: LLVM
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 120
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentWidth: 4
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
FixNamespaceComments: true
ForEachMacros: ['TRY_CATCH']
#QualifierAlignment: Custom
#QualifierOrder: ['inline', 'static', 'const', 'volatile', 'type']
SpaceAroundPointerQualifiers: After
SeparateDefinitionBlocks: Always

# Taken from git's rules
#PenaltyBreakAssignment: 10 # Unknown to clang-format-4.0
PenaltyBreakBeforeFirstCallParameter: 50
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 10
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 60

PointerAlignment: Right
ReflowComments: false
SpacesBeforeTrailingComments: 1
SortIncludes: false
TabWidth: 4
UseTab: AlignWithSpaces
