name: build and upload

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Use embedded toolchain
      - uses: numworks/setup-arm-toolchain@2020-q4

      - name: Install BMDA dependencies
        run: sudo apt-get -y install libftdi1-dev libhidapi-dev

      # Runs a single command using the runners shell
      - name: Build all platform firmwares and Linux BMDA
        run: make all_platforms

      - name: Archive firmware build artifacts as a zip
        uses: actions/upload-artifact@v2.2.4
        with:
          name: blackmagic-firmware.zip
          path: src/artifacts/*
          if-no-files-found: error
