name: build PR

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Use embedded toolchain
      - uses: numworks/setup-arm-toolchain@2020-q4

      # Build all the firmwares
      - name: Build all platform firmwares and BMP only BMPA
        run: make all_platforms HOSTED_BMP_ONLY=1

      - name: Clean
        run: make clean

      - name: Install BMDA dependencies
        run: sudo apt-get -y install libftdi1-dev libhidapi-dev

      - name: Build full BMDA binary
        run: make PROBE_HOST=hosted
