name: lint

on:
  push:
    branches: ['main']

  pull_request:
    branches: ['main']

  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run pre-commit
      uses: blackmagic-debug/pre-commit-action@v3-bmd
